* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #233654;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    text-align: center;
}