*{ 
   justify-items: center;
    justify-content: center;
    margin: 10px;
}

body{
    background-color: antiquewhite;
}
 .subheading{
    font-weight: 800;
}

button{
    border: 2px solid black;
    display: block;
    height: 30px;
    width: 100px;
    font-weight: 600;
    background-color: rgb(214, 151, 67);
}

input{
    border: 2px solid black;
    height: 25px;
    width: 70px;
    font-size: 20px;
}

#results{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    color: rgb(146, 32, 32);
}
