*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select , button , input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem ;
}

form input {
    font-size: 1rem;
    border: 1px solid grey;
    height: 2.5rem;
    padding-left: 0.5rem;
}

.dropDown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 2rem 0;
}

.select-container img{
    max-height: 2rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightcyan;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    font-weight: 600;
    font-size: 1.2rem;
}

form button{
    margin: 2rem 0 0 0;
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}