body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;   
    margin: 0;
    padding: 20px;
}

h2, h3 {
    margin: 10px 0;
    color: #333;
}

.btn-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}

.btn {
    height: 150px;         
    width: 150px;
    border-radius: 15px;
    border: 4px solid #000;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    margin: 10px;
}

.btn:hover {
    transform: scale(1.05);   
    opacity: 0.9;
}

.red {
    background-color: rgba(155, 11, 11, 0.8);
}

.blue {
    background-color: rgba(8, 8, 161, 0.8);
}

.green {
    background-color: rgba(15, 255, 175, 0.7);
}

.yellow {
    background-color: rgba(183, 183, 9, 0.8);
}

.flash {
    background-color: #fff !important;
}

.Userflash {
    background-color: rgb(0, 255, 76) !important;
   
}