*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Roboto' , sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 100, 100);
    color: #fff;
    font-size: 28px;
    height: 90px;
}

.container{
    position: relative;
    top: 40px;
    width: 500px;
    background-color: #fff;
    padding: 22px;
    box-shadow: 1px 3px 3px 3px rgb(215,215 ,215) ;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.searchbar {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.container input{
    width: 60%;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 13px;
    border-radius: 5px;
    background-color: #e1e1e1;
}

.searchbar button{
    width: 100px;
    font-size: 1.1rem;
    background-color: orange;
    border: none;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.text{
    padding: 22px;
    margin-top: 22px;
    text-transform: capitalize;
}

.text p{
    margin-top: 18px;
}

.POS{
    font-style: italic;
}

.text a {
    background-color: orange;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 6px 20px;
    cursor: pointer;
    position: relative;
    top: 20px;
}

@media screen and (max-width : 600px){
    .container{
        width: 80%;
    }
}